<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <div class="card" style="width: 12rem;">
      <% if profile.github_profile_image %>
        <img class="card-img-top" src="<%= profile.github_profile_image %>" alt="User image">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= profile.profile_name %></h5>
        <h6 class="card-text"><%= profile.shorten_url %></h6>
        <div class="card_body btn-group", style="margin: 0 auto;">
          <td><%= button_to('Show', profile, { class: "btn btn-outline-success mr-3", method: :get } ) %></td>
          <td><%= button_to('Edit', edit_profile_path(profile), { class: "btn btn-outline-secondary", method: :get }) %></td>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
  <style>
  </style>
</html>